

<!-- Container principal -->
<div class="min-h-screen bg-gray-900">
  <!-- Header -->
  <app-header class="transition-all duration-300 ease-in-out"></app-header>
  
  <!-- Componentes -->
  <app-hero class="transition-all duration-500 ease-in-out"></app-hero>
  <app-game-list class="transition-all duration-500 ease-in-out"></app-game-list>
  <app-popular-games class="transition-all duration-500 ease-in-out"></app-popular-games>
  <app-footer class="transition-all duration-500 ease-in-out"></app-footer>

  <!-- Botão Voltar ao Topo -->
  <button 
    *ngIf="showScrollButton"
    (click)="scrollToTop()"
    class="blue-button fixed bottom-8 right-8 z-50 bg-[#003ce7] hover:bg-[#0035cc] text-white p-3 rounded-lg shadow-lg transition-all duration-300 ease-in-out hover:scale-110 hover:shadow-[0_0_15px_rgba(0,60,231,0.5)]">
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
    </svg>
  </button>
  
  <router-outlet />
  
</div>
